{
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "vendor",
            "tests"
        ]
    },
     "logs": {
        "text": "humbuglog.txt"
    }
}
